<% posts.each do |post| %>
  <div class="row col-11 d-flex mt-2">
    <%= image_tag post.user.get_profile_image(45, 45), class: "border rounded-circle icon", size: "45x45" %>
    <p class="d-flex align-items-center mb-0 mr-3"><%= link_to post.user.name, user_path(post.user.id), class: "ml-3 user" %></p>
    <p class="d-flex align-items-center mb-0 ml-3 text-muted"><%= l post.created_at %></p>
  </div>
  <div class="d-flex flex-column mt-2">
    <%= link_to post_path(post.id), class:"border-bottom pb-2 pl-2 post" do %>
      <p class="mb-0 post_body"><%= safe_join(post.body.split("\n"),tag(:br)) %> </p>
      <% if post.image.attached? %>
        <%= image_tag post.image, class:"img-fluid col-11 mt-2 mb-2" %>
      <% end %>
      <h4 class="mt-1 pl-4"><i class="fa-regular fa-message"></i>  <%= post.post_comments.count %> </h4>
    <% end %>
  </div>
<% end %>