
<div class="d-flex flex-column align-items-center h-75 mt-3">
<h1 class="mx-auto mb-5">管理者ログイン</h2>
</div>
<div class="d-flex justify-content-center mt-5">
<%= form_with model:@admin, url: session_path(resource_name), local:true do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス", class: "mb-0" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-3 form-control" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード", class: "mb-0" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "mb-3 form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "ログイン状態を保持する" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-outline-primary mb-3 mt-3" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
</div>

