<div class="conteiner d-flex justify-content-center">
<div class="col-8">
    <div class="d-flex align-items-center border-bottom pb-3">
      <div class="d-flex flex-column justify-content-center">
        <%= image_tag @user.get_profile_image(100, 100), class: "border rounded-circle user_icon" %>
        <h2 class="text-center"> <%= @user.name %></h2>
      </div>
      <p class="border rounded col-8 ml-3"> <%= @user.profile %></p>
      <% if @user.is_active %>
      <%= link_to '退会させる', admin_withdrawal_path(@user.id), method: :patch, "data-confirm" => "退会させますか？" %>
    <% else %>
      <%= link_to '有効にする', admin_withdrawal_path(@user.id), method: :patch, "data-confirm" => "有効にさせますか？" %>
    <% end %>
    </div>
  

    <div class="col-10 border-bottom mt-2 posts">
      <% @posts.each do |post| %>
        <div class="row col-11 d-flex mt-2">
          <%= image_tag post.user.get_profile_image(45, 45), class: "border rounded-circle icon" %>
          <p class="d-flex align-items-center mb-0 mr-3 ml-2"><%= post.user.name %></p>
          <p class="d-flex align-items-center mb-0 ml-3 text-muted"><%= l post.created_at %></p>
        </div>
        <div class="d-flex flex-column mt-2">
          <%= link_to admin_post_path(post.id), class:"border-bottom pb-2 pl-2 post" do %>
            <p class="mb-0"><%= post.body %> </p>
            <% if post.image.attached? %>
              <%= image_tag post.image, class:"img-fluid col-11 mt-2" %>
            <% end %>
          <% end %>
          <div class="d-flex justify-content-between align-items-center mt-2 border-bottom">
          <h3 class="mt-1"><i class="fa-regular fa-message"></i>  <%= post.post_comments.count %> </h3>
            <%= link_to "削除", admin_post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger mr-4" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
</div>