<div class="container-fluid d-flex justify-content-center background-image-2">
<div class="d-flex justify-content-center flex-column haikei_sessions">
<div class="d-flex justify-content-center flex-column mx-auto contents">
<div class="mx-auto">
<h2>ログイン</h2>
<p class="alert py-0 my-0 d-flex justify-content-center", style="color: red"><%= alert %></p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス", class: "mb-0" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-2 form-control" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード", class: "mb-0" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "mb-2 form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "ログイン状態を保持する" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-outline-primary mb-3" %>
  </div>
<% end %>

<%= render "public/shared/links" %>

</div>
</div>
</div>
</div>
