<% users.each do |user| %>
  <div class="d-flex justify-content-center">
    <div class="row col-12 mt-2 user_content">
      <%= link_to user_path(user.id), class:" d-flex align-items-center pb-1 users_user" do %>
        <%= image_tag user.get_profile_image(45, 45), class: " border rounded-circle icon", size: "45x45" %>
        <p class=" ml-3 mb-0 mr-3"><%= user.name %></p>
      <% end %>
      <div class="d-flex align-items-center justify-content-between border-bottom pb-2 w-100">
        <div></div>
        <div class="text-right" id="relationship_btn_<%= user.id %>"><%= render "public/relationships/btn", user: user %></div>
      </div>
    </div>
  </div>
<% end %>