
<h2>ユーザー情報編集</h2>

<%= form_with model: @user do |f| %>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
  <h4>ユーザーネーム</h4>
  <%= f.text_field :name, autofocus: true, placeholder:"名前を入力" %>
  <h4>プロフィール</h4>
  <%= f.text_area :profile, placeholder:"プロフィール文を入力" %>
  <%= f.submit "変更を保存" %>
<% end %>

<%= link_to "退会する", unsubscribe_path %>
