<div class="container frame">
  <div class="row">
    <div class="col-2 col-sm-2 col-md-3">
      <%= render 'public/header' %>
    </div>

    <div class="col-1 hidden-on-mobile"></div>

    <div class="col-8">
      <div class="mx-auto">
        <h2 class="text-center mt-3 mb-4 edit"><span>ユーザー情報</span><span>編集</span></h2>

        <div class="d-flex flex-column align-items-center mt-4 p-3">
          <%= form_with model: @user do |f| %>
            <h4>ユーザーアイコン</h4>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
            <p class="mb-2 font-weight-light">（画像の中央がトリミングされます）</p>
            <h4>ユーザーネーム</h4>
            <%= f.text_field :name, autofocus: true, placeholder:"名前を入力", class: "mb-2 form-control" %>
            <h4>プロフィール</h4>
            <%= f.text_area :profile, placeholder:"プロフィール文を入力", class: "mb-2 form-control" %>
            <%= f.submit "変更を保存", class: "btn btn-outline-info" %>
          <% end %>
          <div class="d-flex justify-content-between">
            <%= link_to "退会する", unsubscribe_user_path, class: "btn btn-outline-danger btn-sm mt-5" %>
            <div></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
