<%= render 'public/header' %>

<div>
  <%= image_tag @user.get_profile_image %>
  <h2> <%= @user.name %></h2>
</div>

<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <p>タイトル：<%= post.title %> </p>
      <p>本文：<%= post.body %> </p>
    <% end %>
  </div>
<% end %>