<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'public/header' %>
    </div>

    <div class="col-1"></div>

    <div class="col-8">
      <div class="d-flex align-items-center border-bottom pb-3">
        <div class="d-flex flex-column justify-content-center">
          <%= image_tag @user.get_profile_image(100, 100), class: "border rounded-circle user_icon", size: "100x100" %>
          <h2 class="text-center"> <%= @user.name %></h2>
        </div>
        <p class="border rounded col-8 ml-3"> <%= @user.profile %></p>
        <%= link_to edit_user_path(current_user.id) do %>
          <h1 class="ml-4 pb-3"><i class="fa-solid fa-gear"></i></h1>
        <% end %>
      </div>
  

      <div class="col-10 border-bottom mt-2 posts">
        <%= render 'public/posts/index' , posts: @posts %>
      </div>
    </div>
  </div>
</div>